* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background: #f6fbff;
        }

        /* NAVBAR */
        .navbar {
            width: 100%;
            padding: 25px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 28px;
            font-weight: bold;
        }

        .nav-links {
            display: flex;
            gap: 40px;
        }

        .nav-links li {
            list-style: none;
        }

        .nav-links a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: 500;
        }

        .menu-icon {
            font-size: 30px;
            display: none;
        }

        /* HERO SECTION */
        .hero {
            display: flex;
            justify-content: space-between;
            padding: 60px 70px;
        }

        .hero-left {
            width: 50%;
        }

        .hero-left h1 {
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .hero-left p {
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
        }

        .search-box {
            display: flex;
            gap: 0;
            margin-bottom: 30px;
        }

        .search-box input {
            width: 260px;
            padding: 12px 15px;
            border: 1px solid #ccc;
            border-radius: 8px 0 0 8px;
        }

        .search-box button {
            background: #ffa54c;
            padding: 12px 20px;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
        }

        /* Categories Row */
        .stats-row {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .stat-box {
            background: white;
            padding: 15px 25px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
        }

        /* Right Side */
        .hero-right {
            width: 50%;
            position: relative;
        }

      

        .hero-img {
            width:350px;
            height: 350px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: 30px;
            right: 150px;
        }

        /* Info Cards */
        .info-card {
            padding: 15px 20px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 130px;
            position: absolute;
        }

        .card1 {
            top: 140px;
            left: 20px;
        }

        .card2 {
            top: 60px;
            right: 30px;
        }

        .card3 {
            bottom: 40px;
            right: 60px;
        }

        .info-card h2 {
            font-size: 24px;
            color: #333;
        }

        .info-card p {
            font-size: 14px;
            color: #777;
        }

        /* Responsive */
        @media(max-width: 900px) {
            .hero {
                flex-direction: column;
            }

            .hero-left,
            .hero-right {
                width: 100%;
                text-align: center;
            }

            .circle-bg,
            .hero-img,
            .info-card {
                position: static;
                margin: auto;
            }

            .nav-links {
                display: none;
            }

            .menu-icon {
                display: block;
            }
        }